*{
	margin: 0;
	padding: 0;
}
.header
{
	height: 100vh;
}
.navbar-style
{
	box-shadow: 0 5px 10px #efefef;
	background: lightpink;
	height: 9vh;
	padding-top: 1px;
	text-transform: uppercase;
	z-index: 1;
}
.navbar-collapse
{
	background: lightpink;
	text-align: center;
	margin-top: none;
	padding-top: none;
	z-index: 1;
}
.logo
{
	height: 48px;
	padding: 1px 10px;
}
.icon-bar
{
	background: black;
}
li a
{
	color: #333;
}

.sub-menu-1{
	display: none;
}

.navbar-collapse ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: #FFC0CB;
	border-radius: 15px;
	margin-top: 0px;
	margin-left: 30px;
}

.navbar-collapse ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 20px;
}

.navbar-collapse ul li:hover .sub-menu-1 ul li{
	width: 140px;
	padding: 5px;
	border: none;
	border-bottom: 1px dotted #000;
	background: #FFC0CB;
	border-radius: 0;
	text-align: left;
	position: relative;
}

.navbar-collapse ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: ;
}

.navbar-collapse ul li:hover .sub-menu-1 ul li a:hover{
	color: blue;
	text-decoration: none;
}